@tailwind base;
@tailwind components;
@tailwind utilities;

.border-4-white {
  @apply border-4 border-white;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

p {
  @apply text-xl;
}

li {
  @apply text-xl;
}

.imageShadow {
  border: 4px solid #ffffff;
  filter: drop-shadow(-20px 20px 0px #215a85);
}

.react-icons {
  vertical-align: middle;
  color: #f5ad3f;
  width: 60px;
  height: 60px;
}

.react-icons-mobile {
  vertical-align: middle;
  color: #ffffff;
  width: 42px;
  height: 30px;
}

.header-text {
  @apply flex flex-col gap-4;
}
